---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h2>Teaching Experience</h2>

<ul>
  <li>2026年春季学期，大数据分析与云计算，研一硕士生</li>
  <li>2026年春季学期，统计学，大二本科生</li>
  <li>2024年秋季学期，经济计量学，大三本科生</li>
  <li>2024年夏季短学期，属性数据分析，大三本科生</li>
  <li>2024年春季学期，统计学，大二本科生</li>
  <li>2023年秋季学期，经济计量学，大三本科生</li>
  <li>2023年夏季短学期，统计建模专题，大二本科生</li>
  <li>2023年春季学期，应用时间序列分析，大三本科生</li>
  <li>2022年秋季学期，应用回归分析，大三本科生</li>
  <li>2022年夏季短学期，非参数回归应用实践，大三本科生</li>
  <li>2022年春季学期，金融风险建模，大三本科生</li>
  <li>2021年秋季学期，经济计量学，大三本科生</li>
</ul>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
